section div p {
    line-height: 2;
    font-size: 1.05em;
  }
  *{
    font-family:-apple-system, system-ui, "Segoe UI", Roboto, "Cascadia Code", "ヒラギノ角ゴ Pro", HiraKakuProN, "Noto Sans JP", "BIZ UDゴシック Medium", "Meiryo UI", Sans-Serif;
  }

  .prose :where(code):not(:where([class~="not-prose"] *))::before {
    content: "";
  }
  
  .prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: "";
  }
  
  code {
    font-size: 0.95em !important;
  }

@media screen and (min-width: 0px) {
    .customEntitityAlbum {
        background-color: aliceblue;
        position: relative;
        min-width: 150px;
        width: 150px;
        height: 150px;
        margin: 0px;
        margin-left: -8px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
        object-fit: contain;
        border-radius: 4%;
    }
}
@media screen and (min-width: 700px) {
    .customEntitityAlbum {
        background-color: aliceblue;
        position: relative;
        min-width: 150px;
        width: 150px;
        height: 150px;
        margin: 0px;
        margin-left: -8px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
        object-fit: contain;
        border-radius: 4%;
    }
}
@media screen and (min-width: 1250px) {
    .customEntitityAlbum {
        background-color: aliceblue;
        position: relative;
        min-width: 200px;
        width: 200px;
        height: 200px;
        margin: 0px;
        margin-left: -8px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
        object-fit: contain;
        border-radius: 4%;
    }
}
td {
    vertical-align: middle !important;
}